@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

body * {
    font-family: "Syne", sans-serif !important;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: flex-start;
}

#logo_planty {
    width: 201px;
    height: 19px;
    margin-left: 37px;
    margin-top: 30px;
    display: inline-block;
}

li.menu-item {
    display: inline-block;
    font-size: 19px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#menu-item-52 {
    background-color: #DC9F96;
}

#menu-item-52 a {
    color: #FFFFFF;
}

#menu-item-53 a {
    color: #000000;
}

#menu-footer-1 {
    display: flex;
    justify-content: center;
    padding: 0;
}

#menu-footer-1 a {
    color: #000000;
    font-size: 16px;
}

.menu-item-51 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

#site-footer {
    padding: 0 !important;
}

@media (max-width: 768px) {
    #logo_planty {
        width: 100%;
        height: 19px;
        margin-top: 30px;
        display: block;
        margin-left: 0;
    }

    #header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    #content {
        margin-top: 150px;
    }

    ul {
        padding: 0;
    }

    li.menu-item {
        display: block;
        align-items: stretch;
    }
}

.accueil_gauche {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 30%;
}

.accueil_droite {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 30%;
}

.fraise {
    position: absolute;
    top: 17%;
    left: 8%;
}

.pamplemousse {
    max-width: 357px !important;
    position: absolute;
    top: 12%;
    right: 4%;
}

.framboise {
    max-width: 245px !important;
    position: absolute;
    top: 65%;
    left: 10%;
}

.citron {
    position: absolute;
    top: 70%;
    right: 6%;
}

.elementor-element {
    --widgets-spacing: 0px !important;
}

#bouton_commande {
    width: 198px;
    height: 55px;
}

.div_bouton_commande {
    padding: 0 !important;
}

.div_redimensions {
    padding: 0 !important;
}

.grille_accueil {
    max-height: 170px !important;
}

    /* canette container */

    /* Canette branches  */
    .can-container {
        position: relative;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .can {
        position: relative;
        width: 100%; /* L'image occupe toute la largeur du conteneur */
        height: auto;
        z-index: 2;
    }

    .branches {
        position: absolute;
        bottom: 60px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .gauche {
        left: -40%;
    }

    .droite {
        right: -40%;
    }

    /* Pour rendre le design réactif */
    @media (max-width: 450px) {
        .gauche, .droite {
            width: 60%;
        }

        .branches {
            bottom: 150px;
        }

        .gauche {
            left: -15%;
        }

        .droite {
            right: -15%;
        }
    }

    /* Footer */

    .canettes_ligne {
        position: page;
        bottom: 0;
        margin-top: 70px;
    }

    /* Nous Rencontrer */

    .section1 {
        position: relative;
        width: 100%;
        min-width: 450px;
    }

    .petitefleur {
        position: absolute;
        top: 18%;
        left: 17%;
    }

    .équipe {
        position: relative;
        width: 100%;
        min-width: 450px;
        z-index: 2;
    }

    .branche_équipe {
        position: absolute;
        right: 5%;
        bottom: 0;
        z-index: 1;
    }

    .formulaire1 {
        position: relative;
        max-width: 385px;
    }


    .bouton_formulaire_contact {
        width: 198px !important;
        height: 55px !important;
        margin-left: 100px !important;
    }

    .wpforms-field-label {
        font-family: Syne;
        font-size: 20px !important;
        font-weight: 400 !important;
    }

    
    fleur_formulaire